<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>card</title>
</head>

<body>
    <div style="padding: 10px; width: 30%;" class="card card--primary">
        <header class="card--header card--secondary">
            <h3 class="plan--name">card header</h3>
            <span class="plan--description">description </span>
        </header>
        <div class="card--body">
            <ul class="List  list--tick">
                <li class="List__item  ">Item 1</li>
                <li class="List__item ">Item 2</li>
                <li class="List__item ">Item 3</li>
            </ul>
            <button class="btn btn--primary btn--outline btn--block">more</button>
        </div>
    </div>
    <div style="padding: 10px; width: 30%;" class="card card--secondary">
        <header class="card--header card--secondary">
            <h3 class="plan--name">card header</h3>
            <span class="plan--description">description </span>
        </header>
        <div class="card--body">
            <ul class="List  list--tick">
                <li class="List__item  ">Item 1</li>
                <li class="List__item ">Item 2</li>
                <li class="List__item ">Item 3</li>
            </ul>
            <button class="btn btn--primary btn--outline btn--block">more</button>
        </div>
    </div>
    <div style="padding: 10px; width: 30%;" class="card card--accent">
        <header class="card--header card--secondary">
            <h3 class="plan--name">card header</h3>
            <span class="plan--description">description </span>
        </header>
        <div class="card--body">
            <ul class="List  list--tick">
                <li class="List__item  ">Item 1</li>
                <li class="List__item ">Item 2</li>
                <li class="List__item ">Item 3</li>
            </ul>
            <button class="btn btn--primary btn--outline btn--block">more</button>
        </div>
    </div>
</body>

</html>