<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/main.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/0463228c55.js"></script>
    <link rel="stylesheet" href="./Font-awesome/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class=" card CardImage ">
        <div class="grid grid--1x2 ">
            <img class="CardImage-image" src="../img/person.jpg" alt="a good cv">
            <div>
                <div>
                    <blockquote class="quote">
                        <footer>
                            <div class="media">
                                <div class="media-image">
                                    <svg  viewBox="0 0 100 100" class="icon icon--primary quote-line">
                                        <use xlink:href="../img/sprite.svg#line"></use>
                                    </svg>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-title quote-author">مهدی گندمکار </h4>
                                    <p class="quote-company"> Developer (Angular & Flutter) at Fava</p>
                                </div>
                            </div>
                        </footer>
                        <p class="quote-text">
                            مهدی گندمکار هستم دانشجوی رشته کامپیوتر دانشکده شمسی پور تهران ترم 3 از آذر ماه
                            سال
                            1399
                            در شرکت فاوا فناوری افق به عنوان توسعه دهنده وب  (Angular) و توسعه دهنده موبایل
                            (Flutter)
                            مشغول به‌کار هستم
                        </p>
                        <ul class="List List__item">
                            <li class="font-size-17"><i class="fa fa-calendar "></i> 27st January, 2002</li>
                            <li class="font-size-17"><i class="fa fa-phone"></i> 09371616757</li>
                            <li class="font-size-17"><i class="fa fa-mail-reply"></i> mahdigkar@gmail.com
                            </li>
                            <li class="font-size-17"><i class="fa fa-github"></i> mahdigkar</li>
                        </ul>

                    </blockquote>
                </div>
            </div>
        </div>
    </div>

</body>

</html>